:root{
    --default-font-family:font-family: 'Noto Serif', serif;
}

body{
    background-image: url("/media/windowbackground.jpg");
    background-size: cover;
}
h1, h2, p{
text-align: center;
 background-color: #65897a;
 font-family: var(--default-font-family);
 color: black;
    padding: 20px;
box-shadow: 11px 10px 31px 6px rgba(166, 188, 179, 0.6);
}
h1 {
  font-size: 60px;
}
h2{
    font-size: 32px;
    font-weight: bolder;
}
p{
    margin-left: -12px;
     background-color: #a6bcb3;
    font-size: 20px;
    font-family: var(--default-font-family);
    border-radius: 3%;
    
}
img{
    width: 636px;
    height: 486x;
}